@font-face {
  font-family: "Neue Regrade";
  src:
    url("./fonts/NeueRegrade-Regular.woff2") format("woff2"),
    url("./fonts/NeueRegrade-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neue Regrade", sans-serif;
  height: auto;
  width: 100vw;
  margin: 0 auto;
}

h1 {
  font-size: 76px;
  font-weight: 700;
  color: #1d1e1c;
  line-height: 100%;
  font-family: Neue Regrade;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #1d1e1c;
  line-height: 120%;
  /* font-family: Neue Regrade; */
}

h3 {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  color: #1d1e1c;
  /* font-family: Neue Regrade; */
}

p {
  font-size: 14px;
  color: #1d1e1c;
}

.h4 {
  font-size: 14px;
  font-size: 600;
  line-height: 150%;
  text-transform: uppercase;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 42px;
  border: 1px solid #1d1e1c;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background: #1d1e1c;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* Header Section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 1280px; */
  /* width: 90%; */
  height: 120px;
  padding: 40px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 50px;
}

.nav-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 48px;
}

.nav-links {
  display: flex;

  gap: 25px;
  list-style: none;
}

li a {
  text-decoration: none;
  font-weight: 100;
  font-size: 16px;
  color: black;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-btn-container {
  display: flex;
  gap: 25px;
}


.log-in-btn {
  background: transparent;
  border: 1px solid #1d1e1c;
  color: #1d1e1c;
}

.log-in-btn:hover {
  background: #1d1e1c;
  color: white;
}

.sign-up-btn:hover {
  background: transparent;
  border: 1px solid #1d1e1c;
  color: #1d1e1c;
}


/* Hero-Section */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 865px; */
  /* min-width: 1280px; */
  gap: 22px;
  padding: 40px 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.tagline {
  max-width: 640px;
  line-height: 110%;
}

p {
  max-width: 480px;
  line-height: 140%;
}

.clam-btn {
  width: 176px;
}

.image-container img {
  height: 540px;
  width: 640px;
  border-radius: 48px;
}

/* Trusted-Company-Section */

h4 {
  text-align: center;
}

.trusted-com-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 240px;
  padding: 40px;
}

.logos {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* Choose-Section */

.choose-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 670px; */
  padding: 40px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h2 img {
  height: 40px;
  width: 120px;
  border-radius: 48px;
}

.feature-cards {
  margin-top: 30px;
  text-align: center;
  display: flex;
  gap: 15px;
  padding: 20px 15px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 205px;
}


.card i {
  color: teal;
  font-size: 30px;
}




