@font-face {
  font-family: "Neue Regrade";
  src:
    url("./fonts/NeueRegrade-Regular.woff2") format("woff2"),
    url("./fonts/NeueRegrade-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neue Regrade", sans-serif;
  height: auto;
  width: 100vw;
  margin: 0 auto;
}

h1 {
  font-size: 76px;
  font-weight: 700;
  color: #1d1e1c;
  line-height: 100%;
  font-family: Neue Regrade;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #1d1e1c;
  line-height: 120%;
  font-family: Neue Regrade;
}

h3 {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  color: #1d1e1c;
  font-family: Neue Regrade;
}


.h4 {
  font-size: 14px;
  font-size: 600;
  line-height: 150%;
  text-transform: uppercase;
  font-family: Neue Regrade; 
  /* border: 1px solid teal; */
  /* padding: 4px 8px; */
}


h5 {
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase; 
}
p {
  font-size: 14px;
  font-weight: 400;
  color: #1d1e1c;
  line-height: 180%;
  font-family: Neue Regrade;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 42px;
  border: 1px solid #1d1e1c;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background: #1d1e1c;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* Header Section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 1280px; */
  /* width: 90%; */
  height: 120px;
  padding: 40px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 50px;
}

.nav-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 48px;
}

.nav-links {
  display: flex;

  gap: 25px;
  list-style: none;
}

li a {
  text-decoration: none;
  font-weight: 100;
  font-size: 16px;
  color: black;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-btn-container {
  display: flex;
  gap: 25px;
}


.log-in-btn {
  background: transparent;
  border: 1px solid #1d1e1c;
  color: #1d1e1c;
}

.log-in-btn:hover {
  background: #1d1e1c;
  color: white;
}

.sign-up-btn:hover {
  background: transparent;
  border: 1px solid #1d1e1c;
  color: #1d1e1c;
}


/* Hero-Section */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 865px; */
  /* min-width: 1280px; */
  gap: 22px;
  padding: 40px 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.tagline {
  max-width: 640px;
  line-height: 110%;
}

p {
  max-width: 480px;
  line-height: 140%;
}

.clam-btn {
  width: 176px;
}

.image-container img {
  height: 540px;
  width: 640px;
  border-radius: 48px;
}

/* Trusted-Company-Section */

h4 {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid teal;
  padding: 4px 8px;
  width: 30vw;
  margin: 0 auto;
}

.trusted-com-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 240px;
  padding: 40px;
}

.logos {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* Choose-Section */

.choose-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 670px; */
  padding: 40px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h2 img {
  height: 40px;
  width: 120px;
  border-radius: 48px;
}

.feature-cards {
  margin-top: 30px;
  text-align: center;
  display: flex;
  gap: 15px;
  padding: 20px 15px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 205px;
}


.card i {
  color: teal;
  font-size: 30px;
}

/* Virtual Tour Section */


.virtual-tour-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 40px;
}

h2 {
   display: flex;
   gap: 12px;
}

p {
 max-width: 800px;
 text-align: center;
}

.explore-btn {
  height: 40px;
  width: 165px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #1d1e1c;
  color: #1d1e1c;
}

.tour-image {
  height: 500px;
  width: 1050px;
  border-radius: 48px;
  object-fit: cover;
}

/* Statistics Section */


.Statistics-section {
  padding: 80px 0;
  height: 865px;
}

.container {
  width:90%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}


.left {
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
  flex: 1;
}

span {
  font-size:12px;
  font-weight:600;
  letter-spacing:1px;
}

.left h2 {
   max-width: 480px;
   text-align: start;
   font-size:52px;
   margin:20px 0 50px;
   line-height:1.1;
}



.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap:0px;
  row-gap:0px;
}


.card{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.card h3 {
  text-align: center;
  margin-bottom: 8px;
}


.right {
  flex: 1;
}

.right img {
  height: 540px;
  width: 100%;
  border-radius: 48px;
} 


/* Client Review Section */
.client-review-section {
 display: flex;
 flex-direction: column;
 gap: 30px;
}

 h5 {
  text-align: center;
 }

 .review-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
   height: 100vh;
   width: 100vw;
   flex-wrap: wrap;
 } 


 .review {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  height: 270px;
  width: 300px;
  background: #D3F985;
  margin: 5px;
  border-radius: 24px;
 }

 p{
  line-height: 180%;
 }
 
 #review2 {
  background: #F1F1F1;
  margin-bottom: 30px;
  height: 285px;
 }

 #review3 {
  background: #A6E8F6;
  margin-top: 25px;
  padding: 5px 8px;
  height: 290px;
 }

 #review4 {
  background: #FCBEDC;
  margin-top: 40px;
  padding: 5px 8px;
 }

 #review5 {
  background: #FBC899;
  padding: 5px 8px;
 }


 .user-profile img {
  margin-top: 8px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
 }

 